.container {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 34px;
    grid-column: span 6;
  }

  @include onDesktop {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 55px;
  }
}
