.footer {
  &__content {
    padding-block-start: 50px;
    padding-block-end: 80px;

    @include pageGrid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 40px;
      padding-block-end: 120px;
    }

    @include onDesktop {
      padding-block-end: 140px;
    }
  }

  &__logos {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include onTablet {
      grid-column: 1 / 2;
      flex-direction: column;
      justify-content: start;
      gap: 62px;
    }
  }

  &__title {
    margin-block-end: 20px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    @include onTablet {
      gap: 32px;
    }
  }

  &__schedule {
    @include onTablet {
      grid-column: 2 / 4;
    }

    @include onDesktop {
      grid-column: 3 / 5;
    }

    &-list {
      margin-block-end: 20px;
    }

    &-time {
      font-weight: 600;
    }
  }

  &__contacts {
    position: relative;
    @include onTablet {
      grid-column: 4 / 6;
    }

    @include onDesktop {
      grid-column: 5 / 7;

      &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 100px;
          block-size: 100%;
          inline-size: 260px;
          rotate: 90deg;
          height: 1px;
          background-color: #1a5a4c80;
          transform: translateX(50%);
        }
    }
  }

  &__line {
    grid-column: 1 / -1;
    inline-size: 100%;
    block-size: 1px;
    background-color: rgba(26, 90, 76, 0.5);

    @include onDesktop {
      display: none;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-block-start: 40px;

    @include onDesktop {
      padding: 0;
    }

    &--left {
      @include onTablet {
        grid-column: 2 / 4;
      }

      @include onDesktop {
        grid-column: 8 / 10;
      }
    }

    &--right {
      grid-column: 2 / -1;

      @include onTablet {
        grid-column: 4 / 6;
      }

      @include onDesktop {
        grid-column: 10 / 12;
      }
    }

    &-item {
      row-gap: 20px;
    }
  }
}
