.icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--menu {
    background-image: url('../images/icon/baseline-menu.png');
  }

  &--facebook {
    background-image: url(../images/icon/facebook-letter-logo.png);
  }

  &--instagram {
    background-image: url(../images/icon/instagram.png);
  }
}
