.main__content {
  display: grid;
  row-gap: 100px;
  padding-block-start: 70px;

  @include onTablet {
    padding-block-start: 88px;
  }

  @include onDesktop {
    row-gap: 200px;
    padding-block-start: 200px;
  }
}
