.swiper {
  position: static;
  grid-column: 1 / -1;
  inline-size: 100%;

  &-wrapper {
    inline-size: 100%;
  }

  &-slide {
    inline-size: 100%;
  }

  &-slide img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  &-pagination {
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bottom: -20px;
    display: flex;
    justify-content: center;
    gap: 22px;

    &-bullet {
      --swiper-pagination-bullet-horizontal-gap: 0;
      background-color: #e0e0e0;
      opacity: 2;
      inline-size: 9px;
      block-size: 9px;

      &-active {
        background-color: #1a5a4c;
      }
    }

    @include onTablet {
      --swiper-pagination-bottom: -32px;
    }
  }
}
