.swiper {
  position: static;
  grid-column: 1 / -1;
  inline-size: 100%;

  &-wrapper {
    inline-size: 100%;
  }

  &-slide {
    inline-size: 100%;
  }

  &-slide img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  &-pagination {
    --swiper-pagination-bottom: -20px;
    display: flex;
    justify-content: center;
    gap: 22px;

    @include onTablet {
      --swiper-pagination-bottom: -32px;
    }
  }
}

.my-bullet {
  background-color: #e0e0e0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.my-bullet-active {
  background-color: #1a5a4c;
}
