// $c-gray: #eee;
$mainFont: "IBM Plex Sans", sans-serif;
$titleFont: "Montserrat", sans-serif;
$mainTextColor: #0F0E08;
$descriptionColor: #4E4E4E;
$fromTabletWidth: 768px;
$fromDesktopWidth: 1280px;

